<?xml version="1.0"?>
<launch>
  <!-- Declare the 'debug' argument with a default value of 'false' -->
  <arg name="debug" default="false" description="Enable debug mode" />

  <!-- robot_state_publisher node -->
  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        exec="robot_state_publisher" 
        output="screen">
    <!-- Conditionally change the xacro file based on the 'debug' argument -->
    <param name="robot_description" 
           type="str" 
           value="$(command '$(find-pkg-prefix xacro)/bin/xacro $(find-pkg-share erasers_kachaka_vision)/urdf/$(if $(var debug), debug_xtion.urdf.xacro, xtion.urdf.xacro)')" />
  </node>
</launch>
