[Unit]
Description=Bringup erasers_kachaka
After=network.target

[Service]
User=roboworks
EnvironmentFile=/home/roboworks/erk_params.env
ExecStart=/home/roboworks/colcon_ws/src/erasers_kachaka/bringup.bash
Type=simple

[Install]
WantedBy=multi-user.target
