[Unit]
Description=Erasers Kachaka Docker Compose Service
After=docker.service isc-dhcp-server.service
Requires=docker.service

[Service]
Type=simple
User=administrator
WorkingDirectory=/home/administrator/erasers_kachaka
ExecStart=/usr/bin/docker compose --env-file kachaka_env up erasers_kachaka nomap_bridge
ExecReload=/usr/bin/docker compose --env-file kachaka_env restart
ExecStop=/usr/bin/docker compose --env-file kachaka_env stop
Restart=always

[Install]
WantedBy=multi-user.target
