[Unit]
Description=Bringup erasers_kachaka
Wants=chrony-wait.service navigation.service isc-dhcp-server.service
After=chrony-wait.service isc-dhcp-server.service docker.service

[Service]
User=administrator
EnvironmentFile=-/home/administrator/kachaka_env
ExecStart=/home/administrator/colcon_ws/src/erasers_kachaka/bringup.bash
ExecStop=/home/administrator/colcon_ws/src/erasers_kachaka/bringup.bash stop
Type=simple
KillSignal=SIGTERM
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
