[Unit]
Description=Bringup erasers_kachaka navigation
After=multi-user.target

[Service]
User=roboworks
EnvironmentFile=-/etc/erasers_kachaka/erk_params
ExecStart=/home/roboworks/colcon_ws/src/erasers_kachaka/navigation.bash
Type=simple

[Install]
WantedBy=bringup.service
