<?xml version="1.0" ?>
<robot name="erasers_kachaka" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find kachaka_description)/robot/kachaka.urdf.xacro" />
  <xacro:include filename="$(find kachaka_shelf_description)/urdf/container_description.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <!-- xacro:include filename="$(find kachaka_shelf_description)/urdf/short_shelf_description.urdf.xacro" /-->
  <xacro:arg name="robot_name" default="" />
  <xacro:property name="prefix" value="$(arg robot_name)_" />

  <joint name="${prefix}base_to_shelf" type="fixed">
    <parent link="${prefix}base_link" />
    <child link="${prefix}shelf_base_link" />
    <origin xyz="0 0 0.15" rpy="0 0 0" />
  </joint>

</robot>
