<?xml version="1.0" ?>
<robot name="erasers_kachaka" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find kachaka_description)/robot/kachaka.urdf.xacro" />
  <xacro:include filename="$(find kachaka_shelf_description)/urdf/short_shelf_description.urdf.xacro" />

  <joint name="docking_to_shelf" type="fixed">
    <parent link="docking_link" />
    <child link="shelf_base_link" />
    <origin xyz="0 0 0.15" rpy="0 0 0" />
  </joint>
</robot>
