<?xml version="1.0" ?>
<robot name="kachaka_shelf" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="kachaka_shelf" params="shelf_type">
        <xacro:if value="${shelf_type == 2}">
            <link name="shelf_base_link">
                <visual>
                <geometry>
                    <mesh filename="package://erasers_kachaka_description/meshes/kachaka_shelf_2layer.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="body"/>
                </visual>
                <collision>
                <geometry>
                    <mesh filename="package://erasers_kachaka_description/meshes/kachaka_shelf_2layer.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                </collision>
            </link>
            <link name="shelf_top_plate_link"/>
            <joint name="top_plate_link" type="fixed">
                <parent link="shelf_base_link" />
                <child link="shelf_top_plate_link" />
                <origin rpy="0 0 0" xyz="0 0 0.2979"/>
            </joint>
        </xacro:if>
        <xacro:if value="${shelf_type == 3}">
            <link name="shelf_base_link">
                <visual>
                <geometry>
                    <mesh filename="package://erasers_kachaka_description/meshes/kachaka_shelf_3layer.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="body"/>
                </visual>
                <collision>
                <geometry>
                    <mesh filename="package://erasers_kachaka_description/meshes/kachaka_shelf_3layer.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                </collision>
            </link>
            <link name="shelf_middle_plate_link"/>
            <joint name="middle_plate_link" type="fixed">
                <parent link="shelf_base_link" />
                <child link="shelf_middle_plate_link" />
                <origin rpy="0 0 0" xyz="0 0 0.3479"/>
            </joint>
            <link name="shelf_top_plate_link"/>
            <joint name="top_plate_link" type="fixed">
                <parent link="shelf_base_link" />
                <child link="shelf_top_plate_link" />
                <origin rpy="0 0 0" xyz="0 0 0.562"/>
            </joint>
        </xacro:if>
        <link name="shelf_buttom_plate_link"/>
            <joint name="buttom_plate_link" type="fixed">
                <parent link="shelf_base_link" />
                <child link="shelf_buttom_plate_link" />
                <origin rpy="0 0 0" xyz="0 0 0.0169"/>
        </joint>
        <joint name="docking_to_shelf_joint" type="fixed">
            <parent link="docking_link" />
            <child link="shelf_base_link" />
            <origin rpy="0 0 0" xyz="0 0 0.124"/>
        </joint>
    </xacro:macro>
</robot>
